body{
    max-height: 100vh;
    height: 100%;
}
.imgstyle{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bigbox{
   width: fit-content;
   max-height: 100vh;
   height: 100%;
   overflow: scroll;
}
.boxstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: auto auto; */
    /* display: grid;  
    grid-template-columns: 33% auto ;
    grid-template-rows: 316px 416px; */
    
  display: grid;
  gap: 5px 10px;
  grid-template-columns: auto auto auto;
  /* background-color: #2196F3; */
  padding: 10px;


}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgDivstyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: grid;
    grid-template-rows: auto auto; */
    border: solid 1px;
    height: 300px;
    width: 300px;
    
}
.buttonstyle{
    margin-top: 30px;
}
.substyle{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 
    

.sidebar{
    border: solid 1px;
    width: 180px;
    height: 500px;
   

}
.full{
    display: flex;
    flex-direction: row;
}
.navbar{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    gap: 2cm;
}
/* .examtype{
    display: flex;
} */
a{
    color: black;
    text-decoration:none;
}