/* .input{
    width: 10cm;
    height: 28px;
} */
#form{
    width: 350px;
    height: 300px;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
}
#username{
    padding: 10px;
    margin-bottom: 10px;
}
#password{
    padding: 10px;
    margin-bottom: 10px;
}
#email{
    padding: 10px;
    margin-bottom: 10px;
}                                                                   
.logindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}