.myDiv{

    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border: solid;
    box-shadow: 60px -16px teal;
}
body{
    padding: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 .sample{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: cadetblue;
    text-shadow: 2px 2px;


} 
.quizpage{
    border: solid; 
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.main{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.quesstyle{
    margin: 30px;
    padding-left: 50px; 
    font-size: large;
    
}
.quesDivstyle{
    border:solid  1px gray;
    background-color: antiquewhite;
}

.optionstyle{ 
     

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: 30px;
     
/* }
.main{
    border: solid; */
   
}
.submitbtn {
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    display: none;
}
.clearbutton{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* body{
    display: flex;
    align-items: end;

} */





    