.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    width: 350px;
    border: double;

}
.topicdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    
    background-color: beige;
  }
  body{
   /* background-color: burlywood; */
   height: 500px;
  }

.subtext{
color:white;
}